.container{
    padding:15px;
    display:flex;
    color:#ffff;
    background:#f76c6c ;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    position: sticky;

}

.item{




}